.benefits{
    margin: 0 auto;
    margin-top: 500px;
    width: 100%;
    height: 100%;
    margin-bottom: 190px;
    }
    
    .benefits .beneficios_title{
        text-align: center;
        padding-top: 70px;
        color: var(--primary);
        font-size: 30px;
        font-weight: 866;
    }
    
    .bolas{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 93px;
    }
    
    .bolas .ball-1{
        width: 200px;
        height: 200px;
        border-radius: 7px;
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .bolas .ball-1 .text-info{
        color: var(--white);
        font-size: 18px;
        font-weight: 550;
       
        padding-top: 20px;
    }
    
    .bolas .ball-1 .text-info2{
        color: var(--white);
        font-size: 18px;
       
        font-weight: 550;
    }
    
    .bolas .ball-1 img{
        margin-top: 20px;
        width: 50px;
        height: 50px;
    }
    
    .bolas .ball-2{
        width: 230px;
        height: 230px;
        border-radius: 7px;
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .bolas .ball-2 .text-info{
        color: var(--white);
        font-size: 18px;
        font-weight: 550;
        padding-top: 20px;
    }
    
    .bolas .ball-2 .text-info2{
        color: var(--white);
        font-size: 18px;
        font-weight: 550;
    }
    
    .bolas .ball-2 .text-info3{
        color: var(--white);
        font-size: 18px;
        font-weight: 550;
    }
    
    
    .bolas .ball-2 img{
        margin-top: 20px;
        width: 50px;
        height: 50px;
    }
    
    .bolas .ball-3{
        width: 200px;
        height: 200px;
        border-radius: 7px;
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    .bolas .ball-3 .text-info{
        color: var(--white);
        font-size: 18px;
        font-weight: 550;
        padding-top: 20px;
    }
    
    .bolas .ball-3 .text-info2{
        color: var(--white);
        font-size: 18px;
        font-weight: 550;
    }
    
    .bolas .ball-3 img{
        width: 50px;
        height: 50px;
        margin-top: 20px;
    }
    
    @media (max-width: 768px){
        .bolas{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            gap: 93px;
        }
       .bolas .ball-2{
            width: 200px;
            height: 200px;
        }
    }
    