.header {
    background-color: var(--primary);
    height: 500px;
}

.header .logo {
    text-align: center;
    padding-top: 39px;
    color: var(--white);
}

.header .title {
    text-align: center;
    padding-top: 70px;
    color: var(--white);
}

.header .subtitle {
    text-align: center;
    padding-top: 34px;
}

.header .caps {
    text-align: center;
}