.results {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #DEFFDB;
  gap: 4rem;
  padding: 2rem!important;
}
.results .caps {
  width: 50%;
}
.results .caps .capsula {
  width: 400px;
}
.results .caps img {
  width: 100%;
}
.results .results-box {
  margin-top: 3rem;
}
.results .results-box h3 {
  font-size: 1.6rem;
}
.results .results-box h3 {
  color: #009E00;
  font-weight: bold;
}
.content-box {
  margin-top: 2rem;
}
.content-box .result {
  height: auto;
  width: 100%;
  background-color: var(--light);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.content-box .result p{
  color: var(--primary-200);
}
.content-box .result img {
  height: 100%;
}

@media (max-width: 999px) {
  .results {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .results .caps .capsula {
    display: none;
  }
  .results-box {
    margin-top: 0!important;
  }
  .results-box h3 {
    text-align: center;
  } 
}

@media(max-width: 400px) {
  .content-box .result {
   flex-direction: column;
  }
  .content-box .result p {
    text-align: center;
   }
}